.navbar {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 10px 0;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.navbar-logo {
  width: 150px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin-inline: 1rem;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #e50914;
}

.navbar-close {
  display: none;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggle .bar {
  height: 2px;
  width: 20px;
  background-color: #fff;
  margin: 4px 0;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .navbar-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    background-color: #141414;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .navbar-links.open {
    transform: translateX(0);
  }

  .navbar-links li {
    margin: 15px 0;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-close {
    display: block;
    font-size: 36px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 20px;
  }

  .navbar {
    padding: 0%;
  }
}
